<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.20/dist/sweetalert2.all.min.js"></script>

<link rel="stylesheet" href="/css/addUser.css">

<div class="container-xl px-4 mt-4">

    {{#if message}}
    <div class="alert alert-danger" id="alertContainer" role="alert">
        {{ message }}
    </div>
    {{/if}}

    <div class="row">

        <div class="col-md-4 d-none d-md-block">

            <!-- Profile picture card-->
            <div class="card mb-4 h-100 p-5 text-center d-block">
                <svg xmlns="http://www.w3.org/2000/svg" class="img-profile mb-3" fill="currentColor"
                    class="bi bi-person-fill-add" viewBox="0 0 16 16">
                    <path
                        d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    <path
                        d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z" />
                </svg>
                <h5 class="text-center">Rellene este formulario con sus datos por favor</h5>
            </div>

        </div>

        <div class="col">

            <!-- Account details card-->
            <div class="card mb-4 h-100 ">
                <div class="card-header">Account Details</div>
                <div class="card-body">
                    <form action="/user/add-user" method="POST" enctype="multipart/form-data">

                        <!-- Profile picture card-->
                        <div class="">
                            <div class="">
                                <!-- Profile picture image-->
                                <img id="imagePreview" class="img-account-profile img-fluid" src="{{user.image}}"
                                    alt="">
                                <!-- Profile picture help block-->
                            </div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="small mb-1" for="inputImage">Profile Picture</label>
                                <input class="form-control" id="inputImage" name="image" accept="image/*" type="file"
                                    onchange="validateImage(this)">
                            </div>
                            <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                        </div>

                        <div class="row">
                            <div class="mb-3">
                                <label class="small mb-1" for="nameInput">Name</label>
                                <input class="form-control" id="nameInput" name="name" type="text"
                                    placeholder="Enter your name" value="{{user.name}}" required>
                                <span id="error-name" style="color: red;"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6"> <!-- Form Group (email address)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="email">Email address</label>
                                    <input class="form-control" id="emailInput" name="email" type="email"
                                        placeholder="Enter your email address" value="{{user.email}}"
                                        pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
                                    <span id="error-email" style="color: red;"></span>
                                </div>
                            </div>
                            <div class="col-md-6"> <!-- Form Group (password)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="password">Password</label>
                                    <input class="form-control" id="passowrdInput" name="password" type="password"
                                        placeholder="Enter your password" value="{{user.password}}"
                                        pattern="[A-Za-z0-9!?-]{8,12}">
                                    <div class="error-password">
                                        <span id="error-password" style="color: red;"></span>
                                    </div>
                                    <input type="checkbox" id="showPasswordCheckbox" class="show-password-checkbox">
                                    <label for="showPasswordCheckbox" class="show-password-label small mb-1">Show
                                        password</label>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6"> <!-- Form Group (role)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputRole">Role</label>
                                    <select class="form-control" id="inputRole" name="role">
                                        <option value="ADMIN_ROLE">
                                            Admin
                                        </option>
                                        <option value="USER_ROLE" selected>User
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6"> <!-- Form Group (status)-->
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputRole">Active</label>
                                    <select class="form-control" id="inputStatus" name="status">
                                        <option value="true" {{#isEqual user.status true}}selected{{/isEqual}}>
                                            True
                                        </option>

                                        <option value="false" {{#isEqual user.status false}}selected{{/isEqual}}>False
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary" type="submit" id="saveUserButton">Create user</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/checkSignUpFormFields.js"></script>

<script>

    const alertDiv = document.getElementById("alertContainer");

    function hideAlert() {
        alertDiv.style.display = "none";
    }
    setTimeout(hideAlert, 3000);

    const showPasswordCheckbox = document.getElementById('showPasswordCheckbox');
    showPasswordCheckbox.addEventListener("change", function () {
        var passwordInput = document.getElementById("passowrdInput");
        if (this.checked) {
            passwordInput.type = "text";
        } else {
            passwordInput.type = "password";
        }
    });

    function showNotification(message, type) {
        Swal.fire({
            icon: type,
            title: message,
            showConfirmButton: false,
            timer: 2000
        }).then(() => {
            if (type !== 'warning') {
                window.location.reload();
            }
        });
    }

    function validateImage(inputImage) {

        const allowedExtensions = ["jpg", "jpeg", "png", "gif"];
        const maxFileSize = 10 * 1024 * 1024; // 10 MB

        const selectedFile = inputImage.files[0];

        if (!selectedFile) {
            showNotification('Please select an image', 'warning');
            inputImage.value = "";
            return;
        }

        const fileExtension = selectedFile.name.split(".").pop().toLowerCase();
        if (!allowedExtensions.includes(fileExtension)) {
            showNotification("Invalid file type. Allowed formats: " + allowedExtensions.join(", "), 'warning');
            inputImage.value = "";
            return;
        }

        if (selectedFile.size > maxFileSize) {
            showNotification('File size exceeds the limit of 10 MB', 'warning');
            inputImage.value = "";
            return;
        }

        previewImage(inputImage);
    }

    function previewImage(input) {
        const imagePreview = document.getElementById("imagePreview");
        const selectedFile = input.files[0];

        if (selectedFile) {
            const reader = new FileReader();

            reader.onload = function (e) {
                imagePreview.src = e.target.result;
            };

            reader.readAsDataURL(selectedFile);
        } else {
            imagePreview.src = "";
        }
    }

</script>